
<mat-card color="primary" [@formInsertRemoveTrigger]="state" fxLayout="column" fxLayoutAlign="center center">
  <mat-label><mat-icon class="message-icon succes-color">check_circle</mat-icon></mat-label>
  <mat-label fxLayout fxLayoutAlign="center center"><span class="label-message">Registrierung abgeschlossen</span></mat-label>
  <div class="message-fields">
    <p>
      Vielen Dank, Ihre Registrierung war erfolgreich.
    </p>
  </div>
  <div class="login-button" fxLayout fxLayoutAlign="center center">
    <button mat-flat-button color="accent" [routerLink]="['/app/login']">Zum Login</button>
  </div>
</mat-card>
