
.message-icon {
  margin: 20px 0px 0px 0px;
  font-size: 2.5em;
}

.label-message {
  margin: 5px 20px;
  font-size: 1.6em;
  line-height: 1.4;
}

.message-fields {
  width: 200px;
  margin: 20px 0 0px 0;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
}

span {
  text-align: center;
}

mat-card {
  width: 300px;
}

.form-button-signin {
  margin: 0px 0 15px 0;
}

.sign-in-label {
  font-size: 0.8em;
  font-weight: 300;
  a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 900;
  }
}

.login-button {
  width: 200px;
  padding: 15px 0 20px 0;
}