<mat-toolbar color="primary" fxFlex fxFlexLayout fxLayoutAlign="center center" fxLayoutGap="20px" fxHide.lt-md="true" fxShow.gt-md="true">
  <div fxFlex="6">
    <app-logo></app-logo>
  </div>
  <div fxFlex fxFlexLayout fxLayoutAlign="center">
    <app-subjects fxLayoutGap="2em"></app-subjects>
  </div>
  <app-settings></app-settings>
</mat-toolbar>

<mat-toolbar color="primary" fxFlex fxFlexLayout fxLayoutAlign="start center" fxLayoutGap="20px" fxShow.sm="true" fxShow.lt-sm="true" fxHide.md="true" fxHide.gt-md="true">
  <div fxFlex>
    <app-burgermenu></app-burgermenu>
  </div>
  <app-settings></app-settings>
</mat-toolbar>
