<app-nav></app-nav>
<section fxLayout="row" fxLayoutAlign="center center" class="dotted-background background" fxShow.sm="true" fxShow.lt-sm="true" fxHide.md="true" fxHide.gt-md="true">
  <mat-card color="primary" class="card-class">
    <mat-label fxLayout="column" fxLayoutAlign="center center"><span class="label">Willkommen in der qSchool</span></mat-label>
    <cdk-virtual-scroll-viewport itemSize="10" class="scrolling-viewport-mobile">
      <div class="text-format">
        <p class="text-padding">Viele von uns gehen grade durch Turbulente Zeiten. Langsam ist die Wohnung blitzblank und der Netflix Content ausgeschöpft.
          Zeit Erwartungs- und Hoffnungsvoll in die Zukunft zu blicken und neue Pläne zu machen.</p>
        <p class="text-padding">Was bietet sich dafür besser an als neue Skills zu lernen?</p>
        <p class="text-padding">Für alle die sich beruflich neu orientieren müssen oder neue Skills aufbauen möchten,
          bietet die qSchool kostenlose online Coding Kurse.</p>
      </div>
      <mat-list class="text-format">
        <mat-list-item>Das Konzept</mat-list-item>
        <mat-divider></mat-divider>
        <p class="text-padding text-devider">Wir versuchen Kurse per Videokonferenz anzubieten. Dabei sind die Kursinhalte auf absolute Neulingen abgestimmmt.
          Wir wollen ganz gezielt Personen einen Einstieg in die Welt der Technologie bieten, die damit bisher wenig oder nichts
          zu tun haben. Die Inhalte sind dabei vollkommen kostenlos. Zukünftig soll es die Mäglichkeit für Spenden geben, welche
          abgesehen von den Selbstkosten an Selbständige in Not weitergeleitet werden sollen. Vorerst steht aber das Erstellen
          eines Kursangebots im Vordergrund.
        </p>
        <mat-list-item>Ich möchte lernen</mat-list-item>
        <mat-divider></mat-divider>
        <p class="text-padding text-devider">Wir werden versuchen ab dem 28.03.20 die ersten Software Development Kurse vollkommen kostenlos anzubieten. Alles was du benötigst ist ein Computer.
          Melde dich einfach unter mitmachen an und erhalten alle weiteren Informationen per Mail.
        </p>
        <mat-list-item>Ich möchte unterrichten</mat-list-item>
        <mat-divider></mat-divider>
        <p class="text-padding text-devider">
          Du hast Skills im Bereich Software Development und hast Lust Kurse mitzugestaltent.
          Dann melde dich einfach unter Mitmachen an und setz einen Haken bei "Ich möchte Unterrichten"
        </p>
        <mat-list-item>Ich bin Selbständiger</mat-list-item>
        <mat-divider></mat-divider>
        <p class="text-padding text-devider">
          Wir wollen Selbständigen in Not helfen. Dazu soll der Großteil der Einnahmen weitergeleitet werden.
          Wenn du Hilfe benötigst, dann melde dich einfach unter <a>Mitmachen</a> an und setz einen Haken bei "Ich bin Selbständiger".
        </p>
      </mat-list>
    </cdk-virtual-scroll-viewport>
  </mat-card>
</section>

<section fxLayout="row" fxLayoutAlign="center center" class="dotted-background background" fxHide.lt-md="true" fxShow.gt-md="true">
  <mat-card color="primary" style="margin: 0 5px; min-width: 500px;max-width: 500px">
    <mat-label fxLayout="column" fxLayoutAlign="center center"><span class="label">Willkommen in der qSchool</span></mat-label>
    <cdk-virtual-scroll-viewport itemSize="10" class="scrolling-viewport">
      <mat-list class="text-format">
        <mat-list-item>Impressum</mat-list-item>
        <mat-divider></mat-divider>
        <p class="text-padding text-devider">
          Jan Klädtke
          Postanschrift:
          Dagobertstraße 65
          50668 Köln

        Kontakt:
        Telefon:
        E-Mail: jan.klaedtke@qschool.de
        </p>
      </mat-list>
    </cdk-virtual-scroll-viewport>
  </mat-card>
</section>

<app-footer></app-footer>