<app-nav></app-nav>
<section fxLayout="row" fxLayoutAlign="center center" class="dotted-background background" fxShow.sm="true" fxShow.lt-sm="true" fxHide.md="true" fxHide.gt-md="true">
  <mat-card fxLayout="column" fxLayoutAlign="center center" color="primary" class="card-class">
    <div>
      <app-title class="app-title-mobile"></app-title>
      <canvas #canvasMobile>
      </canvas>
    </div>
    <div style="margin: 10px 0 0 0; padding: 0px;">
      <!-- <mat-label fxLayout="column" fxLayoutAlign="center center"><span class="label">Willkommen in der qSchool</span></mat-label> -->
      <cdk-virtual-scroll-viewport itemSize="10" class="scrolling-viewport-mobile" style="width: 250px;">
        <div class="text-format" fxLayout="row" fxLayoutAlign="center center">
          <p class="text-padding mobile-label">
            Impressum
          </p>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <ul>
            <li>Jan Klädtke</li>
            <li>Postanschrift:</li>
            <li>Dagobertstraße 65</li>
            <li>50668 Köln</li>
            <li>E-Mail: jan.klaedtke@qschool.de</li>
          </ul>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </mat-card>
</section>

<section fxLayoutAlign="center center" class="dotted-background background" fxHide.lt-md="true" fxShow.gt-md="true">
  <mat-card fxLayout="row" fxLayoutAlign="center center" color="primary" style="margin: 0 5px; min-width: 500px;max-width: 725px">
   <app-title class="app-title"></app-title>
    <canvas #canvas>
    </canvas>
    <div style="margin: 0px; padding: 0px;">
      <mat-label fxLayout="column" fxLayoutAlign="center center"><span class="label">Impressum</span></mat-label>
      <cdk-virtual-scroll-viewport itemSize="10" class="scrolling-viewport" style="width: 500px;">
        <div fxLayout="row" fxLayoutAlign="center center">
          <ul>
            <li>Jan Klädtke</li>
            <li>Postanschrift:</li>
            <li>Dagobertstraße 65</li>
            <li>50668 Köln</li>
            <li>E-Mail: jan.klaedtke@qschool.de</li>
          </ul>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </mat-card>
</section>

<app-footer></app-footer>