.background {
  margin: 5vh 0 0 0;
  height: 80vh;
  width: 100vw;
}


.scrolling-viewport {
  height: 55vh;
}

.scrolling-viewport-mobile {
  height: 50vh;
}

.card-class {
  margin: 0 10px 0 10px;
  max-height: 85vh;
}

.label {
  margin: 20px 30px 20px 30px;
  font-size: 1.5em;
  line-height: 1.4;
  text-align: center;
}

.mobile-label {
  font-size: 1.1em;
  font-weight: 600;
}

.text-format {
  text-align: justify;
}

.text-padding {
  padding: 0 15px;
}

.text-devider {
  padding-top: 10px;
}

mat-list-item {
  font-weight: 900 !important;
}

.app-title {
  position: absolute;
  left: 0%;
}


.app-title-mobile {
  margin-top: 15px;
}

li {
  list-style-type: none;
}