<section fxLayout="column" fxLayoutAlign="center center" class="background" fxLayoutGap="1%">

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%">

    <div style="position: relative;">
      <mat-card [@openClose]="cardOne ? 'open' : 'closed'" class="card grow" fxLayout="column"
        fxLayoutAlign="center center" (click)="changeFormOne()">
        <mat-card-header>
          <mat-card-title [ngClass]="getCardColor()">Das Konzept</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <img src="../../../assets/svg/intro.svg" alt=""/>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="!cardOne" [@formInsertRemoveTrigger]="state" class="card" fxLayout="column"
        fxLayoutAlign="center center" style="position: absolute; top: 0;left: 0;">
        <mat-card-header>
          <mat-card-title [ngClass]="getCardColor()">Das Konzept</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <cdk-virtual-scroll-viewport itemSize="10" class="scrolling-viewport-intro">
            <p class="text-block">
              Viele von uns befinden sich beruflich momentan in einer ungewissen Situation.
              Der Schock ist groß und es stellt sich die Frage, wie es zukünftig beruflich weitergehen soll.
              Die qSchool möchte helfen, den Schock zu überwinden und dabei aus der Not eine Tugend machen.
              Wir möchten das Projekt wagen, Menschen die zuvor nichts mit IT zutun hatten, neue Karrieremöglichkeiten zu eröffnen.
              Um dies zu erreichen, organisiert die qSchool kostenlose Webinare mit Profis aus der IT-Branche.
              Egal ob Friseur, Gastronome oder Student in der Welt der Bits und Bytes findet jeder seinen Platz.
            </p>
          </cdk-virtual-scroll-viewport>
        </mat-card-content>
      </mat-card>
    </div>

    <div style="position: relative;">
      <mat-card [@openClose]="cardTwo ? 'open' : 'closed'" class="card grow" fxLayout="column"
        fxLayoutAlign="center center" (click)="changeFormTwo()">
        <mat-card-header>
          <mat-card-title [ngClass]="getCardColor()">Lernen</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <img src="../../../assets/svg/learn.svg" alt=""/>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="!cardTwo" [@formInsertRemoveTrigger]="state" class="card" fxLayout="column"
        fxLayoutAlign="center center" style="position: absolute; top: 0;left: 0;">
        <mat-card-header>
          <mat-card-title [ngClass]="getCardColor()">Lernen</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <cdk-virtual-scroll-viewport itemSize="10" class="scrolling-viewport">
            <p class="text-block">
              Du möchtest oder musst dich beruflich neu orientieren?
              Dann melde dich jetzt an. Wir versuchen schnellst möglich ein Kursangebote zu erstellen und halten
              dich per Email auf dem Laufenden.
            </p>
          </cdk-virtual-scroll-viewport>
          <button mat-button color="accent" [routerLink]="['/register']"
            [queryParams]="{type: 'learn'}"><span>Jetzt anmelden!</span></button>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%">
    <div style="position: relative;">
      <mat-card [@openClose]="cardThree ? 'open' : 'closed'" class="card grow" fxLayout="column"
        fxLayoutAlign="center center" (click)="changeFormThree()">
        <mat-card-header>
          <mat-card-title [ngClass]="getCardColor()">Unterrichten</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <img src="../../../assets/svg/teach.svg" alt=""/>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="!cardThree" [@formInsertRemoveTrigger]="state" class="card" fxLayout="column"
        fxLayoutAlign="center center" style="position: absolute; top: 0;left: 0;">
        <mat-card-header>
          <mat-card-title [ngClass]="getCardColor()">Unterrichten</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <cdk-virtual-scroll-viewport itemSize="10" class="scrolling-viewport">
            <p class="text-block">
              Um anderen einen Neustart zu ermöglichen brauchen wir engagierte Profis, die bereit sind
            ihr Wissen weiter zu geben. Egal ob du Softwareentwicklung, Softwaretester oder
            Projektmanager bist, andere können von deiner Erfahrung und digitalen Expertise profitieren.
            Mach mit und hilf anderen.
            </p>
          </cdk-virtual-scroll-viewport>
          <button style="margin-bottom: 10px;" mat-button color="accent" [routerLink]="['/register']"
            [queryParams]="{type: 'teach'}"><span>Jetzt mitmachen!</span></button>
        </mat-card-content>
      </mat-card>
    </div>

    <div style="position: relative;">
      <mat-card [@openClose]="cardFour ? 'open' : 'closed'" class="card grow" fxLayout="column"
        fxLayoutAlign="center center" (click)="changeFormFour()">
        <mat-card-header>
          <mat-card-title [ngClass]="getCardColor()">Selbständige</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <img src="../../../assets/svg/enterprise.svg" alt=""/>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="!cardFour" [@formInsertRemoveTrigger]="state" class="card" fxLayout="column"
        fxLayoutAlign="center center" style="position: absolute; top: 0;left: 0;">
        <mat-card-header>
          <mat-card-title [ngClass]="getCardColor()">Selbständige</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <cdk-virtual-scroll-viewport itemSize="10" class="scrolling-viewport">
            <p class="text-block">
              Wir sind eine Non-Profit-Organisation. Potentielle Einnahmen durch Spenden sollen der
            Gemeinschaft zugute kommen. Egal ob Selbständige, Kulturelle Organisationen oder
            Helfer aus dem Gesundheitswesen, melde dich bei uns wir versuchen dir zu Helfen.
            </p>
          </cdk-virtual-scroll-viewport>
          <button mat-button color="accent" [routerLink]="['/register']"
            [queryParams]="{type: 'enterprise'}"><span>Jetzt anmelden!</span></button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</section>