<app-nav></app-nav>
<section fxLayout="row" fxLayoutAlign="center center" class="dotted-background background" fxShow.sm="true" fxShow.lt-sm="true" fxHide.md="true" fxHide.gt-md="true">
  <mat-card color="primary" style="margin: 0 30px; min-width: 275px; max-width: 500px">
    <mat-label fxLayout="column" fxLayoutAlign="center center"><span class="label">qCodingSchool</span></mat-label>
    <div>
      <p>Viele von uns gehen grade durch eine schwere Zeit. Aber jede Rückschlag bietet viele neue Möglichkeiten.</p>
    </div>
    <mat-tab-group>
      <mat-tab label="Lernen">
        <p>Wenn du</p>
      </mat-tab>
      <mat-tab label="Lehren">

        <p>...</p>
      </mat-tab>
      <mat-tab label="Selbständige">

        <p>...</p>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</section>

<section fxLayout="row" fxLayoutAlign="center center" class="dotted-background background" fxHide.lt-md="true" fxShow.gt-md="true">
  <mat-card color="primary" style="max-width: 500px">
    <mat-label fxLayout="column" fxLayoutAlign="center center"><span class="label">qCodingSchool</span></mat-label>
    <div>
      <p>Viele von uns gehen grade durch eine schwere Zeit. Aber jede Rückschlag bietet viele neue Möglichkeiten.</p>
    </div>
    <mat-tab-group>
      <mat-tab label="Lernen">
        <p>Wenn du</p>
      </mat-tab>
      <mat-tab label="Lehren">

        <p>...</p>
      </mat-tab>
      <mat-tab label="Selbständige">

        <p>...</p>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</section>

<app-footer></app-footer>