<app-nav></app-nav>
<section fxLayout="row" fxLayoutAlign="center center" class="dotted-background background" fxShow.sm="true" fxShow.lt-sm="true" fxHide.md="true" fxHide.gt-md="true">
  <mat-card fxLayout="column" fxLayoutAlign="center center" color="primary" class="card-class">
    <div>
      <app-title class="app-title-mobile"></app-title>
      <canvas #canvasMobile>
      </canvas>
    </div>
    <div style="margin: 10px 0 0 0; padding: 0px;">
      <!-- <mat-label fxLayout="column" fxLayoutAlign="center center"><span class="label">Willkommen in der qSchool</span></mat-label> -->
      <cdk-virtual-scroll-viewport itemSize="10" class="scrolling-viewport-mobile" style="width: 250px;">
        <div class="text-format">
          <p class="text-padding mobile-label">
            Willkommen in der qSchool
          </p>
          <p class="text-padding">
            Viele von uns befinden sich beruflich grade in einer ungewissen Situation.
            Der Schock ist groß und die Frage stellt sich wie es zukünftig beruflich weiter gehen soll.
            Die qSchool möchte helfen den Schock zu überwinden und die Not zur Tugend zu machen. Wir möchten das Projekt wagen, Menschen die zuvor nichts mit IT zutun hatten, die Welt der Bits und Bytes näher zu bringen.
            Dafür möchte die qSchool kostenlose online Webinare mit Profis aus der IT organisieren. Das Motto ist jeder kann von jedem etwas lernen und gemeinsam schaffen wir den Sprung nach vorne.
          </p>
        </div>
        <mat-list class="text-format">
          <mat-list-item>Das Konzept</mat-list-item>
          <mat-divider></mat-divider>
          <p class="text-padding text-devider">
            Profis und Erfahrene aus der IT-Branche erstellen Kursinhalte abgestimmt auf absolute Anfänger.
            Innerhalb wöchentlicher Webinare werden diese Kursinhalte interaktiv durchgearbeitet.
            Die Lernenden können so alle ihre Frage frei adressieren und grade am Anfang gibt es davon sehr viele.
            Die Inhalte sollen dabei für Jedermann kostenlos und frei zugänglich gemacht werden, ganz im Sinne des Open Source Gedanken.
          </p>
          <mat-list-item>Ich möchte lernen</mat-list-item>
          <mat-divider></mat-divider>
          <p class="text-padding text-devider">
            Wenn du die aktuelle Zeit nutzen möchtest, um neue Fähigkeiten zu erwerben und eventuell eine neue Karriere zu starten, dann zögere nicht und meld dich.
            Wir garantieren dir, um in der IT erfolgreich zu sein, ist Durchhaltevermögen aber keine akademischer Grad notwendig.
            Nach der Anmeldung wirst du per Email über Kursangebote und alle weiteren Schritte informiert.
          </p>
          <button style="margin-bottom: 10px;" mat-button color="accent" [routerLink]="['/register']" [queryParams]="{type: 'learn'}">Jetzt lernen!</button>
          <mat-list-item>Ich möchte unterrichten</mat-list-item>
          <mat-divider></mat-divider>
          <p class="text-padding text-devider">
            Aktuell besteht die qSchool aus nur wenigen Lehrern.
            Das müssen wir ändern! Wenn du Kenntnisse im Bereich der Softwareentwicklung hast, kannst du uns bei vielen Dingen unterstützen.
            Kurse müssen nicht nur gehalten, sondern auch vor- und nachbereitet werden.
            Melde dich dazu einfach unter “Ich möchte unterrichten” an.
          </p>
          <button style="margin-bottom: 10px;" mat-button color="accent" [routerLink]="['/register']" [queryParams]="{type: 'teach'}">Jetzt mitmachen!</button>
          <mat-list-item>Ich bin Selbständiger</mat-list-item>
          <mat-divider></mat-divider>
          <p class="text-padding text-devider">
            Auch wenn unsere Angebot kostenlos sein soll uns wir uns als Non Profit verstehen, möchten wir eventuelle Einnahmen aus Spenden oder ähnlichen weiterleiten.
            Wenn dich die aktuelle Situation in eine Schwierige Situation gebracht hat,
            dann melde dich unter “Ich bin Selbständiger” und wir versuchen dich zu unterstützen auch wenn wir nichts versprechen können.
          </p>
          <button mat-button color="accent" [routerLink]="['/register']" [queryParams]="{type: 'enterprise'}">Jetzt anmelden!</button>
        </mat-list>
      </cdk-virtual-scroll-viewport>
    </div>
  </mat-card>
</section>

<section fxLayoutAlign="center center" class="dotted-background background" fxHide.lt-md="true" fxShow.gt-md="true">
  <mat-card xLayout="row" fxLayoutAlign="center center" color="primary" style="margin: 0 5px; min-width: 500px;max-width: 725px">
   <app-title class="app-title"></app-title>
    <canvas #canvas>
    </canvas>
    <div style="margin: 0px; padding: 0px;">
      <mat-label fxLayout="column" fxLayoutAlign="center center"><span class="label">Willkommen in der qSchool</span></mat-label>
      <cdk-virtual-scroll-viewport itemSize="10" class="scrolling-viewport" style="width: 500px;">
        <div class="text-format">
          <p class="text-padding">
            Viele von uns befinden sich beruflich grade in einer ungewissen Situation.
            Der Schock ist groß und die Frage stellt sich wie es zukünftig beruflich weiter gehen soll.
            Die qSchool möchte helfen den Schock zu überwinden und die Not zur Tugend zu machen. Wir möchten das Projekt wagen, Menschen die zuvor nichts mit IT zutun hatten, die Welt der Bits und Bytes näher zu bringen.
            Dafür möchte die qSchool kostenlose online Webinare mit Profis aus der IT organisieren. Das Motto ist jeder kann von jedem etwas lernen und gemeinsam schaffen wir den Sprung nach vorne.
          </p>
        </div>
        <mat-list class="text-format">
          <mat-list-item>Das Konzept</mat-list-item>
          <mat-divider></mat-divider>
          <p class="text-padding text-devider">
            Profis und Erfahrene aus der IT-Branche erstellen Kursinhalte abgestimmt auf absolute Anfänger.
            Innerhalb wöchentlicher Webinare werden diese Kursinhalte interaktiv durchgearbeitet.
            Die Lernenden können so alle ihre Frage frei adressieren und grade am Anfang gibt es davon sehr viele.
            Die Inhalte sollen dabei für Jedermann kostenlos und frei zugänglich gemacht werden, ganz im Sinne des Open Source Gedanken.
          </p>
          <mat-list-item>Ich möchte lernen</mat-list-item>
          <mat-divider></mat-divider>
          <p class="text-padding text-devider">
            Wenn du die aktuelle Zeit nutzen möchtest, um neue Fähigkeiten zu erwerben und eventuell eine neue Karriere zu starten, dann zögere nicht und meld dich.
            Wir garantieren dir, um in der IT erfolgreich zu sein, ist Durchhaltevermögen aber keine akademischer Grad notwendig.
            Nach der Anmeldung wirst du per Email über Kursangebote und alle weiteren Schritte informiert.
          </p>
          <button style="margin-bottom: 10px;" mat-button color="accent" [routerLink]="['/register']" [queryParams]="{type: 'learn'}">Jetzt lernen!</button>
          <mat-list-item>Ich möchte unterrichten</mat-list-item>
          <mat-divider></mat-divider>
          <p class="text-padding text-devider">
            Aktuell besteht die qSchool aus nur wenigen Lehrern.
            Das müssen wir ändern! Wenn du Kenntnisse im Bereich der Softwareentwicklung hast, kannst du uns bei vielen Dingen unterstützen.
            Kurse müssen nicht nur gehalten, sondern auch vor- und nachbereitet werden.
            Melde dich dazu einfach unter “Ich möchte unterrichten” an.
          </p>
          <button style="margin-bottom: 10px;" mat-button color="accent" [routerLink]="['/register']" [queryParams]="{type: 'teach'}">Jetzt mitmachen!</button>
          <mat-list-item>Ich bin Selbständiger</mat-list-item>
          <mat-divider></mat-divider>
          <p class="text-padding text-devider">
            Auch wenn unsere Angebot kostenlos sein soll uns wir uns als Non Profit verstehen, möchten wir eventuelle Einnahmen aus Spenden oder ähnlichen weiterleiten.
            Wenn dich die aktuelle Situation in eine Schwierige Situation gebracht hat,
            dann melde dich unter “Ich bin Selbständiger” und wir versuchen dich zu unterstützen auch wenn wir nichts versprechen können.
          </p>
          <button mat-button color="accent" [routerLink]="['/register']" [queryParams]="{type: 'enterprise'}">Jetzt anmelden!</button>
        </mat-list>
      </cdk-virtual-scroll-viewport>
    </div>
  </mat-card>
</section>

<app-footer></app-footer>