
<section fxLayout="column" fxLayoutAlign="center center" class="background" fxLayoutGap="2%">

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%">

    <div style="position: relative;" class="card">
      <mat-card [@openClose]="cardOne ? 'open' : 'closed'" class="card grow" fxLayout="column" fxLayoutAlign="center center" (click)="changeFormOne()">
        <mat-card-header>
          <mat-card-title>Das Konzept</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <div>
            <img src="../../assets/img/intro.png" alt="">
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="!cardOne" [@formInsertRemoveTrigger]="state" class="card" fxLayout="column" fxLayoutAlign="center center" style="position: absolute; top: 0;left: 0;">
        <mat-card-header>
          <mat-card-title>Das Konzept</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <div class="text-card">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur tenetur quae necessitatibus delectus magnam itaque commodi eligendi, consectetur facere ipsam doloribus non ut similique aliquam temporibus neque? Ipsa ipsum odit possimus omnis consectetur dolore itaque facilis, deserunt consequuntur aspernatur unde id saepe, maiores accusamus cum iusto tenetur dicta minus porro nihil vitae laudantium doloribus fugiat? Harum itaque consequatur commodi inventore perferendis sed possimus nam alias, ea veniam laborum non aut aliquam modi? Recusandae sit dolor molestiae tempora ipsum ullam quibusdam obcaecati pariatur atque reprehenderit similique vitae corrupti nesciunt sequi porro, voluptates ratione veniam dolorem debitis a. Omnis porro dolorum animi!</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div style="position: relative;" class="card">
      <mat-card [@openClose]="cardTwo ? 'open' : 'closed'" class="card grow" fxLayout="column" fxLayoutAlign="center center" (click)="changeFormTwo()">
        <mat-card-header>
          <mat-card-title>Lernen</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <img src="../../assets/img/learning.png" alt="">
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="!cardTwo" [@formInsertRemoveTrigger]="state" class="card" fxLayout="column" fxLayoutAlign="center center" style="position: absolute; top: 0;left: 0;">
        <mat-card-header>
          <mat-card-title>Lernen</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <div class="text-card">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur tenetur quae necessitatibus delectus magnam itaque commodi eligendi, consectetur facere ipsam doloribus non ut similique aliquam temporibus neque? Ipsa ipsum odit possimus omnis consectetur dolore itaque facilis, deserunt consequuntur aspernatur unde id saepe, maiores accusamus cum iusto tenetur dicta minus porro nihil vitae laudantium doloribus fugiat? Harum itaque consequatur commodi inventore perferendis sed possimus nam alias, ea veniam laborum non aut aliquam modi? Recusandae sit dolor molestiae tempora ipsum ullam quibusdam obcaecati pariatur atque reprehenderit similique vitae corrupti nesciunt sequi porro, voluptates ratione veniam dolorem debitis a. Omnis porro dolorum animi!</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%">
    <div style="position: relative;" class="card">
      <mat-card [@openClose]="cardThree ? 'open' : 'closed'" class="card grow" fxLayout="column" fxLayoutAlign="center center" (click)="changeFormThree()">
        <mat-card-header>
          <mat-card-title>Unterrichten</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <img src="../../assets/img/teaching.png" alt="">
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="!cardThree" [@formInsertRemoveTrigger]="state" class="card" fxLayout="column" fxLayoutAlign="center center" style="position: absolute; top: 0;left: 0;">
        <mat-card-header>
          <mat-card-title>Unterrichten</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <div class="text-card">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur tenetur quae necessitatibus delectus magnam itaque commodi eligendi, consectetur facere ipsam doloribus non ut similique aliquam temporibus neque? Ipsa ipsum odit possimus omnis consectetur dolore itaque facilis, deserunt consequuntur aspernatur unde id saepe, maiores accusamus cum iusto tenetur dicta minus porro nihil vitae laudantium doloribus fugiat? Harum itaque consequatur commodi inventore perferendis sed possimus nam alias, ea veniam laborum non aut aliquam modi? Recusandae sit dolor molestiae tempora ipsum ullam quibusdam obcaecati pariatur atque reprehenderit similique vitae corrupti nesciunt sequi porro, voluptates ratione veniam dolorem debitis a. Omnis porro dolorum animi!</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div style="position: relative;" class="card">
      <mat-card [@openClose]="cardFour ? 'open' : 'closed'" class="card grow" fxLayout="column" fxLayoutAlign="center center" (click)="changeFormFour()">
        <mat-card-header>
          <mat-card-title>Selbständige</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <img src="../../assets/img/enterprise.png" alt="">
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="!cardFour" [@formInsertRemoveTrigger]="state" class="card" fxLayout="column" fxLayoutAlign="center center" style="position: absolute; top: 0;left: 0;">
        <mat-card-header>
          <mat-card-title>Selbständige</mat-card-title>
        </mat-card-header>
        <mat-card-content style="height: 75%;">
          <div class="text-card">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur tenetur quae necessitatibus delectus magnam itaque commodi eligendi, consectetur facere ipsam doloribus non ut similique aliquam temporibus neque? Ipsa ipsum odit possimus omnis consectetur dolore itaque facilis, deserunt consequuntur aspernatur unde id saepe, maiores accusamus cum iusto tenetur dicta minus porro nihil vitae laudantium doloribus fugiat? Harum itaque consequatur commodi inventore perferendis sed possimus nam alias, ea veniam laborum non aut aliquam modi? Recusandae sit dolor molestiae tempora ipsum ullam quibusdam obcaecati pariatur atque reprehenderit similique vitae corrupti nesciunt sequi porro, voluptates ratione veniam dolorem debitis a. Omnis porro dolorum animi!</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</section>