<button mat-button class="nav-button-hover" [ngClass]="{'nav-button-active': home}"
[routerLink]="['/landing']">Home</button>

<button mat-button class="nav-button-hover" [ngClass]="{'nav-button-active': learning}"
[routerLink]="['/learning']">Lernen</button>


<button mat-button class="nav-button-hover" [ngClass]="{'nav-button-active': teaching}"
[routerLink]="['/teaching']">Lehrer</button>


<button mat-button class="nav-button-hover" [ngClass]="{'nav-button-active': enterprise}"
[routerLink]="['/enterprise']">Selbständige</button>
