
.background {
  height: 100vh;
  width: 100vw;
}

.label {
  margin: 30px;
  font-size: 1.6em;
  line-height: 1.4;
}

form {
  margin: 0 15px;
}

.login-form {
  margin-top: 35px;
}

.mat-form-field {
  margin: 5px 0;
}

button {
  margin: 15px 5px;
}

span {
  text-align: center;
}

mat-card {
  width: 300px;
  height: 340px;
}

.hide-pwicon {
  cursor: pointer;
}